@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Variables */

:root {
  --dark-cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(179, 47%, 52%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(203, 44%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --border-radius: 0.5rem;
}

/* Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Karla', sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Classes */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-gray);
}

.container {
  display: grid;
  grid-template-columns: 18.75rem; /* 300px */
  margin: 0 auto;
}

.card {
  background-color: #fff;
  padding: 2rem;
}

.card--border-radius-top-mobile {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card--border-radius-bottom-mobile {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
