.container {
  display: grid;
  grid-template-columns: 21.875rem; /* 350px */
  margin: 3rem auto;
}

.card {
  background-color: #fff;
  padding: 1.5rem;
}

.card--dark-cyan {
  background-color: var(--dark-cyan);
}

.card--light-cyan {
  background-color: var(--light-cyan);
}

.card--border-radius-top-mobile {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card--border-radius-bottom-mobile {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.card__header {
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  margin: 0.5rem 0 1.5rem 0;
}

.card__header--cyan {
  color: var(--dark-cyan);
}

.card__paragraph {
  color: #fff;
  margin: 1.5rem 0;
}

.card__paragraph--yellow {
  color: var(--bright-yellow);
  font-weight: 700;
  font-size: 1rem;
}

.card__paragraph--gray {
  color: var(--grayish-blue);
}

.card__paragraph--transparent {
  opacity: 0.8;
}

.card__paragraph--narrow {
  width: 70%;
}

.card__price-value {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: -1.1rem;
}

.card__price-period {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.6;
  margin-left: 0.75rem;
}

.card__button {
  background-color: var(--bright-yellow);
  padding: 1.2rem;
  text-decoration: none;
  color: white;
  border-radius: var(--border-radius);
  display: block;
  text-align: center;
  font-size: 1.1rem;
  margin: 2.1rem 0 0.5rem 0;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: 21.875rem 21.875rem; /* 350px 350px */
  }

  .card {
    padding: 1.8rem 3rem;
  }

  .card:nth-of-type(1) {
    grid-column: 1 / 3;
  }

  .card--border-radius-bottom-mobile {
    border-bottom-left-radius: 0;
  }

  .card--border-radius-bottom-desktop {
    border-bottom-left-radius: var(--border-radius);
  }
}
